<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Goals of the Future charity was created to help people from Ukraine">
    <title>Document</title>
    <link rel="icon" type="image/svg+xml" href="./images/favicon.svg">
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Archivo:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&family=Figtree:wght@400;500;600;700;800;900&family=Questrial&family=Raleway:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/main.min.css" />
</head>
<body>
    <main>
        <section class="language">
            <div class="container language__container">
                <ul class="language-list">
                    <li class="language-list__item">
                        <a href="./index_en.html" target="_blank" class="language-list__link">
                            <svg class="language-list__flag" width="40" height="30">
                                <use href="./images/icons.svg#usunitedstatesflag"></use>
                            </svg>
                            Future goals
                        </a>
                    </li>
                    <li class="language-list__item">
                        <a href="./index_ukr.html" target="_blank" class="language-list__link">
                            <svg class="language-list__flag" width="40" height="30">
                                <use href="./images/icons.svg#uaukraineflag"></use>
                            </svg>
                            Цілі майбутнього
                        </a>
                    </li>
                    <li class="language-list__item">
                        <a href="./index_de.html" target="_blank" class="language-list__link">
                            <svg class="language-list__flag" width="40" height="30">
                                <use href="./images/icons.svg#degermanyflag"></use>
                            </svg>
                            Ziele der zukunft
                        </a>
                    </li>
                 </ul>
            </div>
        </section>
    </main>
</body>
</html>