<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Goals of the Future charity was created to help people from Ukraine">
    <title>ЦІЛІ МАЙБУТНЬОГО</title>
    <link rel="icon" type="image/svg+xml" href="./images/favicon_ukr.svg">
    <link rel="icon" type="image/png" href="./images/favicon_ukr.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Archivo:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&family=Figtree:wght@400;500;600;700;800&family=Questrial&family=Raleway:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/main.min.css" />
</head>
<body>
    <header class="page-header">
        <div class="container page-header__container">
            <ul class="page-language">
                <li class="page-language__item">
                    <a href="./index_en.html" class="page-language__link">
                        <svg class="page-language__flag" width="30" height="20">
                            <use href="./images/icons.svg#usunitedstatesflag"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-language__item">
                    <a href="./index_ukr.html" class="page-language__link">
                        <svg class="page-language__flag" width="30" height="20">
                            <use href="./images/icons.svg#uaukraineflag"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-language__item">
                    <a href="./index_de.html" class="page-language__link">
                        <svg class="page-language__flag" width="30" height="20">
                             <use href="./images/icons.svg#degermanyflag"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main-content">
        <section class="our-goal"> 
            <div class="container">
                <h1 class="visually-hidden">Наші цілі</h1>
                <p class="text">
                    Благодійна організація "Ziele der Zukunft e.V." поставила собі за мету надання підтримки та
                    забезпечення продуктами
                    харчування, медикаментами та енергоресурсами десятки тисяч мирних жителів у прифронтових містах та
                    селах Харківської
                    області в Україні (Вовчанськ, Ізюм, Балаклія, Куп'янськ, Харків та інших населених пунктах) в надії
                    зменшити існуючі
                    труднощі і таким чином підтримати мешканців зруйнованих міст у цей скрутний час!
                </p>
            </div>
        </section>
        <section class="gallery">
            <div class="container">
                <h2 class="visually-hidden">Наша галерея</h2>
                <div class="gallery__thumb">
                    <ul class="gallery-set">
                        <li class="gallery-item desktop-hidden">
                            <img src="./images/russia_is_a_terrorist_state.jpg"
                                  alt="багатоповерховий будинок зі слідами влучань російських ракет"
                                  class="gallery-photo" 
                                  width="600" />
                        </li>
                        <li class="gallery-item">
                            <img src="./images/photo_2.jpg"
                                    alt="люди вишикувались в чергу щоб отримати їжу" 
                                    class="gallery-photo" 
                                    width="600" />
                        </li>
                        <li class="gallery-item">
                            <img src="./images/photo_3.jpg"
                                    alt="волонтери, які роздають їжу" 
                                    class="gallery-photo" 
                                    width="600" />
                        </li>
                        <li class="gallery-item">
                            <img src="./images/photo_4.jpg"
                                    alt="люди в черзі для отримання допомоги" 
                                    class="gallery-photo" 
                                    width="600" />
                        </li>
                        <li class="gallery-item">
                            <img src="./images/photo_7.jpg"
                                    alt="мітинг на підтримку україни" 
                                    class="gallery-photo" 
                                    width="600"/>
                        </li>
                    </ul>
                </div>
            </div>
        </section>      
        <section class="banking">
            <div class="container">
                <h2 class="visually-hidden">Допомога фонду</h2>
                <p class="banking__iban">Sparkasse Mittelthüringen: (IBAN: <a href="" class="banking__iban--accent">DE 1282 0510 0001 6315 1105</a>, BIC: HELADEF1WEM)</p>
                <div class="banking__thumb">
                <p class="donate">Підтримати наш фонд через платформу</p>
                    <a href="https://www.betterplace.org/de/projects/117908?utm_campaign=email-notifications&utm_medium=betterplace-org--p117908&utm_source=project_manager_notifier-project_activated_message"
                     target="_blank"
                     rel="noopener noreferrer nofollow"
                     class="donate__link">
                    <svg width="120" height="19" class="donate__icon">
                        <use href="./images/icons.svg#betterplace"></use>
                    </svg>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container page-footer__container">
            <address class="our-contacts">
                <ul class="contacts-list">
                    <li class="contacts-list__item">
                      <a
                        href="https://goo.gl/maps/mAYefMfu98Q5EfXE6"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="contacts-list__link"
                        ><svg width="16" height="22" class="contacts-list__icon">
                            <use href="./images/icons.svg#geolocation"></use>
                        </svg>
                        99084 Ерфурт, Німеччина</a
                      >
                    </li>
                    <li class="contacts-list__item">
                        <a href="mailto:wiederaufbau.kh@yahoo.com" class="contacts-list__link">
                            <svg width="16" height="12" class="contacts-list__icon">
                                <use href="./images/icons.svg#mail"></use>
                            </svg>
                            wiederaufbau.kh@yahoo.com
                        </a>
                    </li>
                    <li class="contacts-list__item">
                        <a href="tel:+491799569999" class="contacts-list__link">
                            <svg width="12" height="16" class="contacts-list__icon">
                                <use href="./images/icons.svg#phone"></use>
                            </svg>
                            +49 (179) 956 9999
                        </a>
                    </li>
                    <li class="contacts-list__item">
                        <a href="tel:+4917673581817" class="contacts-list__link">
                            <svg width="12" height="16" class="contacts-list__icon">
                                <use href="./images/icons.svg#phone"></use>
                            </svg>
                            +49 (176) 735 81817
                        </a>
                    </li>
                  </ul>
            </address>
            <div class="social-media">
                <span class="social-media__proposal">приєднуйтесь</span>
                <ul class="social-list">
                    <li class="social-list__item">
                        <a
                          href="https://www.instagram.com/ziele_der_zukunft/?igshid=YmMyMTA2M2Y%3D"
                          target="_blank"
                          rel="noopener noreferrer nofollow"
                          class="social-list__link"
                        >
                          <svg width="20" height="20">
                            <use href="./images/icons.svg#instagram"></use>
                          </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a
                          href="https://www.facebook.com/people/Charitable-organization-Ziele-der-Zukunft-eV/100087879377551/"
                          target="_blank"
                          rel="noopener noreferrer nofollow"
                          class="social-list__link"
                        >
                          <svg width="20" height="20">
                            <use href="./images/icons.svg#facebook"></use>
                          </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>