:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color-1: #2196f3;
    --accent-color-2: #9ecb09;
    --text-and-primary-bg-white-color: #ffffff;
    --second-bg-color: #2f303a;
    --black-text-color: #000000;
    --bg-color: #c4c4c4;
    --svg-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --gra: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7));
}