.text{
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 20);
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
  

