.wrap{
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    flex-direction: column;
}

@media (min-width: 768px) {
    .wrap {
        flex-direction: row;
        gap: 30px;
    }
  }