.donationsWrap {
  padding: 40px 20px;
  /* color: #333; */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 481px) {
  .donationsWrap {
    padding: 60px 35px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .donationsWrap {
    padding: 80px 60px;
    gap: 70px;
  }
}

.partnersTitle {
  font-size: 24px;
  text-align: center;
}

.donationsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media (min-width: 980px) {
  .donationsList {
    flex-direction: row;
  }
}
.donationsListItem {
  background-color: var(--bg-color-6);
}
.donationsListItem:nth-child(2) {
  background-color: var(--color-secondary);
}
.donationPhotoWrap {
  padding: 20px 20px 15px 20px;
}
@media (min-width: 980px) {
  .donationPhotoWrap {
    padding: 25px 25px 20px 25px;
  }
}
.donationPhoto {
  width: 100%;
  max-width: 300px;
}
.donationsListTitle {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color-7);
  
  border-bottom: 8px solid var(--accent-color);
  max-width: 340px;
}
@media (min-width: 980px) {
  .donationsListTitle {
    padding: 20px;
    max-width: 350px;
  }
}

.donationLink {
  position: relative;
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--bg-color-8);
  transition: color 1500ms ease;
}
.donationLink:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.donationLink::before,
.donationLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 1500ms ease, background-color 1500ms ease;
}

.donationLink::before {
  left: 0;
  width: 0;
}

.donationLink::after {
  right: 0;
  width: 0;
}

.donationLink:hover::before,
.donationLink:hover::after {
  background-color: var(--accent-color);
  width: 50%;
}