.donationsWrap {
  padding: 40px 20px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 481px) {
  .donationsWrap {
    padding: 60px 35px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .donationsWrap {
    padding: 80px 60px;
    gap: 70px;
  }
}

.partnersTitle {
  font-size: 24px;
  text-align: center;
}

.donationsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 40px;
}
@media (min-width: 980px) {
  .donationsList {
    flex-direction: row;
    gap: 0;
    align-items: start;
  }
}
.donationsListItem {
  background-color: var(--bg-color-6);
  margin-top: 20px;
  max-width: 350px;
}
@media (min-width: 980px) {
  .donationsListItem {
    width: 100%;
    max-width: 360px;
  }
}
.donationsListItem:nth-child(2) {
  background-color: var(--color-secondary);
  margin-top: 0;
}
.donationPhotoWrap {
  padding: 25px 25px 20px 25px;
  overflow: hidden;
}
@media (min-width: 980px) {
  .donationPhotoWrap {
    padding: 30px 30px 25px 30px;
  }
}
.donationPhoto {
  width: 100%;
  max-width: 300px;
  transition: transform 1000ms ease;
}

.donationPhotoWrap:hover .donationPhoto {
  transform: scale(1.2);
}

.donationText {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color-7);
  padding: 20px;
}

.donationTitle {
  font-size: 16px;
  text-align: center;
  color: var(--text-color);
  width: 100%;
}

.iconDown {
  text-align: end;
  fill: var(--color-secondary);
  width: 20px;
}
.iconDown:hover {
  cursor: pointer;
}

.donationDiscription {
  color: var(--text-color);
  background-color: var(--bg-color-7);
  padding: 10px 20px 20px 20px;
}

.donationLink {
  position: relative;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--bg-color-8);
  border-top: 8px solid var(--accent-color);
  transition: color 1500ms ease;
}

.donationLink:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.donationLink::before,
.donationLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 1500ms ease, background-color 1500ms ease;
}

.donationLink::before {
  left: 0;
  width: 0;
}

.donationLink::after {
  right: 0;
  width: 0;
}

.donationLink:hover::before,
.donationLink:hover::after {
  background-color: var(--accent-color);
  width: 50%;
}
