.nav {
  display: flex;
  align-items: center;
}

.navMenu {
  display: none;
}

@media (min-width: 480px) {
  .mobMenuIcon {
    display: none;
  }
  .navMenu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}

.navMenuLink, .dropdownButton {
  font-size: 20px;
  text-decoration: none;
  padding: 5px 20px;
  display: block;
  border-radius: 10px;
  color: var(--text-second-color);
}

.navMenuLink:hover, .dropdownButton:hover {
  background-color: var(--bg-color-6);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.active {
  font-weight: 600;
  background-color: var(--color-secondary);
}

.moreMenu {
  position: relative;
}

.moreDropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.moreMenu:hover .moreDropdown {
  display: block;
}

.moreDropdown .navMenuItem {
  padding: 5px 20px;
}

.moreDropdown .navMenuLink {
  display: block;
  padding: 5px 20px;
}

/* Стилі для випадаючого меню */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  border: 1px solid gray;
  cursor: pointer;
  font-size: 20px;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenuItem {
  padding: 12px 16px;
}

.dropdownMenuItem a {
  color: black;
  text-decoration: none;
}