.languageList {
  margin: 0;
  padding: 15px 0 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.languageListItem {
  list-style-type: none;
  width: 44px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .12), 0px 4px 4px rgba(0, 0, 0, .06), 1px 4px 6px rgba(0, 0, 0, .16);
}

.activeFlag { 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}