.headerWrap {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-secondary);
  transition: background-color 500ms ease, padding 500ms ease;
}
.scrolled {
  padding: 0 10px;
  /* background-color: rgba(255, 255, 255, 0.9); */
}
@media (min-width: 481px) {
  .scrolled {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
