.gallery {
    padding-top: 15px;
    padding-bottom: 15px;
}
.galleryThumb {
    display: flex;
    justify-content: center;
}

.galleryList {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include desktop {
        gap: 30px;
    }
}

/* .gallery-item {
    
    // display: flex;
    // justify-content: center;
} */

/* .desktopHidden {
    @include tablet {
    display: none;
    }
} */

.galleryPhoto {
    display: block;
    max-width: 100%;
    object-fit: cover;   

}