.partnersWrap {
  padding: 80px 60px;
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 767px) {
  .partnersWrap {
    padding: 40px 20px;
    gap: 40px;
  }
}

.partnersTitle {
  font-size: 24px;
  text-align: center;
}

.partnersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
@media (min-width: 950px) {
  .partnersList {
    justify-content: space-between;
  }
}

.partnersListItem:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.partnerLogo {
  max-width: 200px;
}