.partnersWrap {
  padding: 40px 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 481px) {
  .partnersWrap {
    padding: 60px 35px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .partnersWrap {
    padding: 80px 60px;
    gap: 70px;
  }
}

.partnersTitle {
  font-size: 24px;
  text-align: center;
}

.partnersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
@media (min-width: 950px) {
  .partnersList {
    justify-content: space-between;
  }
}

.partnersListItem:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.additionalPartnersListItem {
  display: none;
}
@media (min-width: 768px) and (max-width: 949px) {
  .additionalPartnersListItem {
    display: flex;
    align-items: center;
  }
}

.partnerLogo {
  width: 100%;
  max-width: 200px;
}
@media (min-width: 768px) and (max-width: 949px) {
  .additionalPartnerLogo {
    display: none;
  }
}
