.socialList {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socialListItem {
  list-style-type: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid white;
}
.socialListLink {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.24);
  outline: transparent;
  fill: white;
  transition: background-color 400ms ease,
    fill 400ms ease,
    box-shadow 400ms ease;
  box-shadow: 0 0 0 0 transparent;
}

.socialListItem:nth-child(1) .socialListLink:hover,
.socialListItem:nth-child(1) .socialListLink:focus {
  fill: #f00075;
  background-color: white;
  box-shadow: 0 0 0 2px #f00075;
}

.socialListItem:nth-child(2) .socialListLink:hover,
.socialListItem:nth-child(2) .socialListLink:focus {
  fill: white;
  background-color: #3b5998;
  box-shadow: 0 0 0 2px #3b5998;
}

.socialListItem:nth-child(3) .socialListLink:hover,
.socialListItem:nth-child(3) .socialListLink:focus {
  fill: #ff0000;
  background-color: white;
  box-shadow: 0 0 0 2px #ff0000;
}
