.langList {
  display: flex;
  gap: 10px;
}

.link{
  padding: 0;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  display: flex;
  align-items: center;
}

.langFlagIcon {
  min-width: 40px;
  min-height: 30px;

  /* @include tablet {
    margin-right: 10px;
  } */
}