:root {
  --color-primary: #ff0000;
  --color-secondary: white;

  --text-color: white;
  --text-second-color: black;

  --accent-color: rgb(46, 163, 242);
  --swiper-scrollbar-drag-bg-color: #2ea3f2;

  --bg-color: #18252c;
  --bg-color-second: rgba(24, 37, 44, 0.71);
  --bg-color-third: #f4f4f4;
  --bg-color-4: rgba(0, 37, 68, 0.5);
  --bg-color-5: rgba(0, 37, 68, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

swiper-container {
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 480px) {
  swiper-container {
    height: 450px;
  }
}
swiper-slide {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 20px;
  font-size: 25px;
  background-color: var(--color-secondary);
  background-color: transparent;
  width: 95%;
  height: 95%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
/* @media screen and (min-width: 480px) and (max-width: 768px) {
  swiper-slide {
    max-width: 305px;
    height: auto;
  }
} */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* .nav-btn {
  display: block;
  position: absolute;
  z-index: 50;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  transition: background 0.5s ease;
} */
/* div.swiper-button-next {
  top: 50%;
  left: 2em;
}

div.swiper-button-prev {
  right: 2em;
  top: 50%;
} */

.swiper-scrollbar-drag {
  background-color: var(--swiper-scrollbar-drag-bg-color);
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */