:root {
  --color-primary: #ff0000;
  --color-secondary: white;
  
  --text-color: white;
  
  --accent-color: rgb(46, 163, 242);
  
  --bg-color: #18252c;
  --bg-color-second: rgba(24,37,44,0.71);
  --bg-color-third: #f4f4f4;
  --bg-color-4: rgba(0,37,68,0.5);
  --bg-color-5: rgba(0,37,68,0.7);

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}


/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
