@import-normalize; /* bring in normalize.css styles */

:root {
  --first-text-color: #2b196d;
  --second-text-color: green;
  --accent-color: #bb6b02;
  --background-color: #d3d2d0;
  --background-color-component: #fff;
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-inset: inset 2px 0 2px rgba(0, 0, 0, 0.16);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color-1: #2196f3;
  --accent-color-2: #9ecb09;
  --text-and-primary-bg-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --black-text-color: #000000;
  --bg-color: #c4c4c4;
  --svg-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gra: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7));
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
